<div ng-controller="DashboardController">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#/dashboard">Trivia Home</a></li>
          <li><a href="#/new_question">Add New Question</a></li>
          <li><a href="#/lets_play">Play!</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><button type="button" class="btn btn-danger" ng-click="logout()">Logout</button></li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="container">
    <h3>Welcome to Trivia, {{sessionUser.username}}!</h3>
    <p style="color: green; text-align: center" ng-repeat="message in messages">{{message}}</p>
    <div class="row">
      <div class="well" style="text-align: center">
          <button type="button" class="btn btn-success" ng-click="playButton()">Play!</button>
          <p>
            Click the button above to start the Trivia Game!
          </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4 style="text-align: center">Recent Scores</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Search Names" style="margin-left: 15px" ng-model="search">
      </div>
      <div class="col-xs-10">  </div>
    </div>
    <table class="table table-bordered table-hover" >
      <thead>
        <tr>
          <th class="col-xs-4">Name</th>
          <th class="col-xs-4">Score</th>
          <th class="col-xs-4">Percentage</th>
        </tr>
      </thead>
      <tbody ng-repeat="score in scores | filter: search | orderBy: '-updatedAt'">
        <tr ng-repeat="num in score.scores track by $index">
          <td> {{score.name}}</td>
          <td >{{num.score}}</td>
          <td >{{num.percent}}%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
