<div ng-controller="newQuestionController">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#/dashboard">Trivia Home</a></li>
          <li class="active"><a href="#/new_question">Add New Question</a></li>
          <li><a href="#/lets_play">Play!</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><button type="button" class="btn btn-danger" ng-click="logout()">Logout</button></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <h1>New Question</h1>
    <p style="color:red" ng-repeat="error in errors">{{error}}</p>
    <form ng-submit="createQuestion()">
      <div class="form-group">
        <label>Question:</label>
        <input type="text" ng-model="newQuestion.question" class="form-control">
      </div>
      <div class="form-group">
        <label>Correct Answer:</label>
        <input type="text" ng-model="newQuestion.correctAnswer" class="form-control">
      </div>
      <div class="form-group">
        <label>Fake Answer 1:</label>
        <input type="text" ng-model="newQuestion.fakeAnswer1" class="form-control">
      </div>
      <div class="form-group">
        <label>Fake Answer 2:</label>
        <input type="text" ng-model="newQuestion.fakeAnswer2" class="form-control">
      </div>
      <button type="button" class="btn btn-warning" ng-click="goback()">Cancel</button>
      <input type="submit" class="btn btn-success" value="Add Question">
    </form>
  </div>
</div>
